{% extends 'base.html' %}
{% block title %}
Entrar
{% endblock %}
{% block nav %}

{% include 'nav/nav.html' %}

{% endblock %}
{% block content %}
<form>
    <div class="mb-3">
      <label for="username" class="form-label">Número Empleado</label>
      <input type="text" class="form-control" id="username">

    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Clave</label>
      <input type="password" class="form-control" id="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}